* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  /* top/bottom 20 left/right 36 */
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0,0,0,0.1);
}

.airbnblogo{
  max-width: 100px;
}

.herodiv{
  font-family:Poppins;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.herodiv h1{
  font-size: 40px;
}

.photogrid{
  max-width: 600px;
  align-self: center;
}
