* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Poppins, sans-serif;
}

nav {
  height: 70px;
  display: flex;
  /* top/bottom 20 left/right 36 */
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0,0,0,0.1);
}

.gray{
  color: #918E9B;
}

.airbnblogo{
  max-width: 100px;
}

.herodiv{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.herodiv h1{
  font-size: 40px;
  margin-bottom: 16px;
}

.herodiv p{
  margin-top: 0;
}

.photogrid{
  max-width: 600px;
  align-self: center;
}

.card{
  width: 175px;
  font-size: 12px;
}

/* .katiez{
width: 100%;
border-radius: 9px;
} */

.star{
height: 14px;
} 

.cardstats{
  display: flex;
  align-items: center;
}
