body{
    background-color: #000555;
}

.card{
    text-align: center;
    height: 50%;
    width: 25%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 5px;
}

.icons{
    color: yellow;
}

.header{
    color: white;
    font-family:'Apple Chancery';
    /* h1 and h4 moves text closer together */
    line-height:15px;
}

.header h4{
    color: #555;
}


.mypic {
    width: 22vw;
    height: auto;
    /* rounds corners */
    border-radius: 10px;
    margin: auto;

}

.bodytext h1{
    font-size: 20px;
    line-height: 4px;
}
.bodytext{
    font-size: small;
    color: white;
    text-align: left;
    line-height: 12px;
    padding: 10px;
}

.buttons{
    justify-content: space-between;
}

.flapjacks{
    color: red;
}

.icons{
    padding: 8px;
    margin: 25px;
}

.footer{
    background-color: white;
    margin-top: auto;
}