body{
    background-color: #000555;
}

.card{
    text-align: center;
    height: 50%;
    width: 25%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 5px;
}

.icons{
    color: yellow;
}

.header{
    color: white;
    font-family:'Apple Chancery';
    /* h1 and h4 moves text closer together */
    line-height:5px;
}

.header h4{
    color: #555;
}


.mypic {
    width: 300px;
    height: auto;
    /* rounds corners */
    border-radius: 10px;
    margin: 25px;
}

.bodytext{
    font-size: small;
    color: white;
}