body{
    background-color: aqua;
}

.mypic {
    width: 300px;
    /* rounds corners */
    border-radius: 10px;
    margin: 25px;
}

.card{
    text-align: center;
    height: 50%;
    width: 25%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 5px;
}

.icons{
    color: yellow;
}

